<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazecoder.openfile">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <provider
            android:name="com.crazecoder.openfile.OpenFileFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_open_file_filepaths"
                 />
        </provider>
    </application>
</manifest>